@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: #fff;
  font-family: Lato;
  font-size: 16px;
  color: #0c0c0c;
  font-weight: 500;
  /*main container wrapper*/
  /*footer section*/
}

body .mainContainer {
  height: 1050px !important;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow: hidden;
  padding: 0 8%;
  /*Navigation menu section*/
  /*legend section*/
}

body .mainContainer .navbar {
  height: 100px;
  padding: 0;
  margin-bottom: 70px;
}

body .mainContainer .navbar .navbar-brand {
  color: #0c0c0c;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  transition: all;
  transition-duration: 1s;
  position: absolute;
  margin-left: 45%;
  padding: 0 5px;
  border-bottom: 11px solid #FEE6C3;
}

body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.3);
  text-shadow: 3px 3px 0 cadetblue;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav {
  width: 100%;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 2vw;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #0c0c0c;
  padding: 10px 20px;
  font-weight: 800;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .search {
  margin-left: 70%;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .search div {
  border: 1px solid #0C0C0C;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 30px 0 10px;
  border-radius: 25px;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .search div input {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

body .mainContainer .legend {
  height: 880px;
  /*legend introduction text*/
  /*legend image section*/
}

body .mainContainer .legend .legend__text {
  padding: 100px 0 0 0;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5%;
}

body .mainContainer .legend .legend__text .introText {
  width: 80%;
}

body .mainContainer .legend .legend__text .introText .introText__heading {
  font-weight: 800;
  color: #0c0c0c;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

body .mainContainer .legend .legend__text .introText .introText__heading span {
  border-bottom: 20px solid #FEE6C3;
}

body .mainContainer .legend .legend__text .introText .introText__description {
  margin-bottom: 40px;
}

body .mainContainer .legend .legend__text .introText .introText__link {
  margin-bottom: 80px;
}

body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #0c0c0c;
  padding: 10px;
  border-bottom: 2px solid #0c0c0c;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: invert(1);
}

body .mainContainer .legend .legend__image {
  height: 830px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

body .mainContainer .legend .legend__image .right {
  padding: 0;
}

body .mainContainer .legend .legend__image .right .top {
  margin-bottom: 50px;
  height: auto;
}

body .mainContainer .legend .legend__image .right img {
  max-width: 300px;
  height: auto;
}

body .mainContainer .legend .legend__image img {
  max-width: 100%;
  height: auto;
  margin-right: 50px;
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #0c0c0c;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  body .mainContainer {
    padding: 0 2%;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .search {
    margin-left: 65%;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 35px;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  body .mainContainer .navbar .navbar-collapse .navbar-nav .search {
    margin-left: 55%;
  }
  body .mainContainer .legend .legend__image {
    height: 730px;
  }
  body .mainContainer .legend .legend__image .right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body .mainContainer {
    height: 1400px !important;
    width: 100%;
  }
  body .mainContainer .navbar .navbar-brand {
    position: relative;
    margin-left: 0;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    background-color: #0c0c0c;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .search {
    margin-left: 2vw;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    transition: all;
    transition-duration: 1s;
    color: white;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    filter: opacity(0.7);
  }
  body .mainContainer .legend {
    margin-top: 150px !important;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
    height: 300px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
  body .mainContainer .legend .legend__text .clients {
    text-align: center;
  }
  body .mainContainer .legend .legend__image {
    height: 700px;
  }
  body .mainContainer .legend .legend__image .right {
    display: block;
  }
  body .mainContainer .legend .legend__image .right .top {
    margin-bottom: 20px;
  }
  body .mainContainer .legend .legend__image img {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */