@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: #F2F7F5;
  font-family: Lato;
  font-size: 18px;
  color: #00473E;
  font-weight: 500;
  /*main container wrapper*/
  /*footer section*/
}

body .mainContainer {
  height: 950px !important;
  overflow: hidden;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  overflow: hidden;
  padding: 0 8%;
  /*Navigation menu section*/
  /*legend section*/
}

body .mainContainer .navbar {
  margin: auto;
  height: 70px;
  padding: 0;
  margin-bottom: 70px;
}

body .mainContainer .navbar .navbar-brand {
  color: #00473E;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(2);
  -webkit-text-stroke: 1px #00473E;
  -webkit-text-fill-color: transparent;
}

body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 4vw;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #00473E;
  padding: 10px 0;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #FAAE2B;
  filter: opacity(0.7);
}

body .mainContainer .legend {
  margin: auto;
  height: 700px;
  text-align: center;
  /*legend introduction text*/
}

body .mainContainer .legend .legend__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 5%;
}

body .mainContainer .legend .legend__text .introText {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .mainContainer .legend .legend__text .introText .introText__heading {
  font-weight: 800;
  color: #00473E;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 30px;
}

body .mainContainer .legend .legend__text .introText .introText__heading span {
  font-weight: 500;
}

body .mainContainer .legend .legend__text .introText .introText__description {
  margin-bottom: 40px;
}

body .mainContainer .legend .legend__text .introText .search {
  width: 40vw;
  margin-bottom: 60px;
}

body .mainContainer .legend .legend__text .introText .search .search__input {
  border-radius: 8px 0 0 8px;
  height: 60px;
  border: 1px solid #FAAE2B;
}

body .mainContainer .legend .legend__text .introText .search .search__button button {
  background-color: #FAAE2B;
  border-color: #FAAE2B;
  color: #00473E;
  cursor: pointer;
  height: 60px;
}

body .mainContainer .legend .legend__text .introText__link {
  margin-bottom: 100px;
}

body .mainContainer .legend .legend__text .introText__link a {
  color: #000;
  padding: 8px 0;
  border-bottom: 2px solid #FAAE2B;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .introText__link a:hover, body .mainContainer .legend .legend__text .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

body .mainContainer .legend .legend__text .icon-wrapper img {
  max-width: 100%;
  height: auto;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .icon-wrapper img:hover, body .mainContainer .legend .legend__text .icon-wrapper img:focus {
  cursor: pointer;
  transform: scale(1.2);
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #00473E;
  color: #F2F7F5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  body .mainContainer {
    height: 850px !important;
    width: 100%;
    padding-top: 20px;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    background-color: #00473E;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    transition: all;
    transition-duration: 1s;
    color: white;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    filter: opacity(0.7);
    border-bottom: 1px solid #FAAE2B;
  }
  body .mainContainer .legend {
    margin-top: 200px !important;
    justify-content: space-between;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
    height: 400px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
  }
  body .mainContainer .legend .legend__text .introText .search {
    width: 70vw;
  }
  body .mainContainer .legend .legend__image {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */