@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #010101;
$background: #FFFFFE;
$font: Lato;
$size: 16px;
$normal: 400;
$bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 1000px;
        overflow: hidden;
        padding: 0 8%;
        /*Navigation menu section*/
        .navbar{
            margin-bottom: 100px;
            height: 70px;
            background-color: $background;
            padding: 0;
    
            .navbar-brand{
                color: $primary;
                font-weight: $bold;
                font-size: 28px;
                line-height: 24px;
                transition: all;
                transition-duration: 1s;

                &:hover, &:focus{
                    transform: scale(1.1);
                    text-shadow: 3px 3px 0 #18e657;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        margin-left: 4vw;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 1px solid $primary;
                            }
                        }
                    }
                }
            }  
        }
        /*legend section*/
        .legend{
            height: 800px;
            /*legend image section*/
            .legend__image{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 800px;
                .introText{
                    margin-bottom: 150px;
                    display: flex;
                    align-items: center;
                    .introText__heading{
                        font-weight: $bold;
                        color: $primary;
                        font-size: 45px;
                        line-height: 54px;
                        margin-bottom: 30px;
                        width: 70%;
                        margin-left: 5%;
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            /*legend introduction text*/
            .legend__text{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 50px;
                
                .introText__description{
                    margin-bottom: 40px;
                }
                .download{
                    .download__text{
                        font-weight: $bold;
                        color: $primary;
                    }
                    .download__CTA{
                        .download__link{
                            margin-right: 16px;
                            padding: 10px 3%;
                            color: $background;
                            background-color: $primary;
                            border-radius: 4px;

                            &:focus, &:hover{
                                text-decoration: none;
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $primary;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px){
    body{
        .mainContainer{
            padding: 0 4%;
            .legend{
                .legend__text{
                    width: 100%;
                    .download{
                        .download__CTA{
                            .download__link{
                                margin-bottom: 10px;
                                display: block;
                            }
                        }
                    }
                }
                .legend__image{
                    .introText{
                        .introText__heading{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            height: 1200px !important;
            width: 0 2%;
            .navbar{
                .navbar-collapse{
                    .navbar-nav{
                        background-color: $primary;
                        .nav-item{
                            .nav-link{
                                transition: all;
                                transition-duration: 1s;
                                color: $background;
        
                                &:hover, &:active, &:focus{
                                    border-bottom: 1px solid $background;
                                    filter: opacity(0.7);
                                }
                            }
                        }
                    }
                }
            }
            .legend{
                margin-top: 100px !important;
                justify-content: space-between;
                height: 1000px;
                .legend__text{
                    padding: 0;
                    height: 200px !important;

                    
                    .download{
                        text-align: center;
                        .download__CTA{
                            .download__link{
                                margin-bottom: 10px;
                                display: inline;
                            }
                        }
                    }
                }
                .legend__image{
                    height: 800px !important;
                    justify-content: space-evenly;
                    .introText{
                        text-align: center;
                        .introText__heading{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}

