@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #010101;
$neutral: #94A1B2;
$background: #FFFFFE;
$font: Lato;
$size: 16px;
$normal: 400;
$bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 900px;
        overflow: hidden;
        padding: 0 8%;
        /*Navigation menu section*/
        .navbar{
            margin: auto;
            height: 70px;
            background-color: $background;
            padding: 0;
    
            .navbar-brand{
                color: $primary;
                font-weight: $bold;
                font-size: 28px;
                line-height: 24px;
                transition: all;
                transition-duration: 1s;

                &:hover, &:focus{
                    transform: scale(1.1);
                    -webkit-text-stroke: 1px $neutral;
                    -webkit-text-fill-color: transparent;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        margin-left: 4vw;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 1px solid $primary;
                            }
                        }
                    }
                }
            }  
        }
        /*legend section*/
        .legend{
            height: 700px;
            margin: auto;
            display: flex;
            align-items: center;
            /*legend introduction text*/
            .legend__text{
                display: flex;
                flex-direction: column;
                padding-top: 150px;
                .introText{
                    margin-bottom: 100px;
                    width: 80%;
                    .introText__heading{
                        font-weight: $bold;
                        color: $primary;
                        font-size: 45px;
                        line-height: 54px;
                        margin-bottom: 30px;
                    }
                    .introText__description{
                        color: $neutral;
                        margin-bottom: 40px;
                    }
                    .search{
                        input{
                            border-radius: 8px 0 0 8px;
                            border: 1px solid #7F5AF0;
                            background-color: transparent;
                        }
                        .search__button{
                            button{
                                background-color: #7F5AF0;
                                border-color: #7F5AF0;
                                color: $primary;
                                border-radius: 0 8px 8px 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .download{
                    .download__text{
                        font-weight: $bold;
                        color: $primary;
                    }
                    .download__CTA{
                        .download__link{
                            margin-right: 16px;
                            padding: 10px 3%;
                            color: $primary;
                            background-color: $button_bg;
                            border-radius: 4px;

                            &:focus, &:hover{
                                text-decoration: none;
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
            /*legend image section*/
            .legend__image{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                text-align: right;
                margin-top: 0;
                img{
                    max-width: 100%;
                    height: auto;
                }
                figcaption{
                    margin-top: 10px;
                    padding-right: 40px;
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $background;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


@media screen and (max-width: 1440px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    width: 90%;
                   
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            padding: 0 4%;
            .legend{
                .legend__text{
                    width: 100%;
                    .introText{
                        .introText__heading{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            height: 1250px !important;
            width: 0 2%;
            .navbar{
                .navbar-collapse{
                    .navbar-nav{
                        background-color: $primary;
                        .nav-item{
                            .nav-link{
                                transition: all;
                                transition-duration: 1s;
                                color: $background;
        
                                &:hover, &:active, &:focus{
                                    border-bottom: 1px solid $neutral;
                                    filter: opacity(0.7);
                                }
                            }
                        }
                    }
                }
            }
            .legend{
                margin-top: 150px !important;
                justify-content: space-between;
                height: 1000px;
                .legend__text{
                    padding: 0;
                    height: 500px !important;

                    .introText{
                        text-align: center;
                        .introText__heading{
                            font-size: 32px;
                        }
                    }
                    .search{
                        width: 90%;
                    }
                    .download{
                        text-align: center;
                    }
                }
                .legend__image{
                    height: 500px !important;
                }
            }
        }
    }
}

