@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #111;
$background: #fff,;
$font: Lato;
$size: 16px;
$normal: 700;
$bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 1000px !important;
        overflow: hidden;
        
        /*legend section*/
        .legend{
            height: 850px;
            /*legend introduction text*/
            .legend__text{
                display: flex;
                flex-direction: column;
                /*Navigation menu section*/
                .navbar{
                    height: 70px;
                    background-color: $background;
                    padding: 0;
                    .navbar-brand{
                        color: $primary;
                        font-size: 24px;
                        line-height: 29px;
                        transition: all;
                        transition-duration: 1s;
        
                        &:hover, &:focus{
                            transform: rotateY(360deg);
                            filter:invert(0.5);
                        }
                    }
            
                    .navbar-collapse{
                        justify-content: flex-end;
                        .navbar-nav{
                            width: 90% !important;
                            position: relative;
                            .last{
                                position: absolute;
                                right: 0 !important;
                            }
                            .nav-item{
                                margin: 0 10px;
                                .nav-link{
                                    color: $primary;
                                    padding: 10px 0x;
                                    transition: all;
                                    transition-duration: 1s;
            
                                    &:hover, &:active, &:focus{
                                        border-bottom: 2px solid $primary;
                                        filter: invert(0.4);
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .introText{
                    margin-left: 5vw;
                    margin-top: 130px;
                    .introText__heading{
                        font-weight: $bold;
                        color: $primary;
                        font-size: 64px;
                        line-height: 77px;
                        margin-bottom: 30px;
                        width: 50%;
                    }
                    .introText__description{
                        margin-bottom: 55px;
                        font-size: 72px;
                        line-height: 86px;
                        letter-spacing: 5px;
                        font-weight: $bold;
                        -webkit-text-stroke: 1px $primary;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .search{
                    width: 450px;
                    margin-left: 5vw;
                    .search__button{
                        input{
                            border-radius: 8px 0 0 8px;
                        }
                        button{
                            background-color: $primary;
                            border-color: $primary;
                            color: $background;
                            border-radius: 0 8px 8px 0;
                            cursor: pointer;
                        }
                    }
                }
                .download{
                    margin-left: 5vw;
                    margin-top: 120px;
                    .download__CTA{
                        .download__link{
                            margin-right: 16px;
                            padding: 10px 3%;
                            color: black;
                            background-color: $background;
                            border-radius: 4px;
                            border: 1px solid $primary;

                            &:focus, &:hover{
                                text-decoration: none;
                                filter: invert(100%);
                            }
                        }
                    }
                }
            }
            /*legend image section*/
            .legend__image{
                content: " ";
                height: 850px;
                background-image: url(images/garage.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: black;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .navbar{
                        .navbar-collapse{
                            .navbar-nav{
                                width: 100%;
                            }
                        }
                    }
                    .introText{
                        .introText__heading{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            height: 1250px !important;
            width: 95%;
            .navbar{
                width: 100%;
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                transition: all;
                                transition-duration: 1s;
        
                                &:hover, &:active, &:focus{
                                    border-bottom: 1px solid $primary;
                                    filter: opacity(0.7);
                                }
                            }
                        }
                    }
                }
            }
            .legend{
                margin-top: 150px !important;
                justify-content: space-between;
                height: 1000px;
                width: 100%;
                .legend__text{
                    padding: 0;
                    height: 300px !important;

                    .introText{
                        width: 100%;
                        text-align: center;
                        .introText__heading{
                            font-size: 32px;
                        }
                    }
                    .search{
                        width: 100%;
                    }
                    .popular{
                        span{
                            button:last-of-type{
                                display: none;
                            }
                        }
                    }
                }
                .legend__image{
                    height: 700px !important;
                }
            }
        }
    }
}

