@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: #fff;
  font-family: Lato;
  font-size: 16px;
  color: #111;
  font-weight: 700;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}

body .mainContainer {
  height: 1000px !important;
  overflow: hidden;
  /*legend section*/
}

body .mainContainer .legend {
  height: 850px;
  /*legend introduction text*/
  /*legend image section*/
}

body .mainContainer .legend .legend__text {
  display: flex;
  flex-direction: column;
  /*Navigation menu section*/
}

body .mainContainer .legend .legend__text .navbar {
  height: 70px;
  background-color: #fff;
}

body .mainContainer .legend .legend__text .navbar .navbar-brand {
  color: #111;
  font-size: 24px;
  line-height: 29px;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .navbar .navbar-brand:hover, body .mainContainer .legend .legend__text .navbar .navbar-brand:focus {
  transform: rotateY(360deg);
  filter: invert(0.5);
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse {
  justify-content: flex-end;
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav {
  width: 100% !important;
  position: relative;
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #111;
  padding: 10px 0x;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #111;
  filter: invert(0.4);
}

body .mainContainer .legend .legend__text .introText {
  margin-left: 5vw;
  margin-top: 130px;
}

body .mainContainer .legend .legend__text .introText .introText__heading {
  font-weight: 800;
  color: #111;
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 30px;
  width: 50%;
}

body .mainContainer .legend .legend__text .introText .introText__description {
  margin-bottom: 55px;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 5px;
  font-weight: 800;
  -webkit-text-stroke: 1px #111;
  -webkit-text-fill-color: transparent;
}

body .mainContainer .legend .legend__text .search {
  width: 450px;
  margin-left: 5vw;
}

body .mainContainer .legend .legend__text .search .search__button input {
  border-radius: 8px 0 0 8px;
}

body .mainContainer .legend .legend__text .search .search__button button {
  background-color: #111;
  border-color: #111;
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

body .mainContainer .legend .legend__text .download {
  margin-left: 5vw;
  margin-top: 120px;
}

body .mainContainer .legend .legend__text .download .download__CTA .download__link {
  margin-right: 16px;
  padding: 10px 3%;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #111;
}

body .mainContainer .legend .legend__text .download .download__CTA .download__link:focus, body .mainContainer .legend .legend__text .download .download__CTA .download__link:hover {
  text-decoration: none;
  filter: invert(100%);
}

body .mainContainer .legend .legend__image {
  content: " ";
  height: 850px;
  background-image: url(images/garage.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  body .mainContainer {
    padding: 20px !important;
  }
  body .mainContainer .legend .legend__text .navbar {
    padding: 0 !important;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 60px;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    font-size: 65px;
  }
}

@media screen and (max-width: 1350px) {
  body .mainContainer {
    padding: 20px !important;
  }
  body .mainContainer .legend .legend__text .navbar {
    padding: 0 !important;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 50px;
    width: 70%;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    font-size: 55px;
  }
}

@media screen and (max-width: 991px) {
  body .mainContainer {
    padding: 20px !important;
  }
  body .mainContainer .legend .legend__text .navbar {
    margin-bottom: 0 0 150px 0;
    padding: 0 !important;
    background-color: #333;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-brand {
    color: white;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav {
    background-color: #333;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 1px solid #fff;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 40px;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    font-size: 45px;
    -webkit-text-stroke: 0.5px #111;
  }
  body .mainContainer .legend .legend__text .search {
    width: 90%;
  }
  body .mainContainer .legend .legend__text .download {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  body .mainContainer {
    height: 900px !important;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/garage.png);
    background-size: 100% 100%;
  }
  body .mainContainer .legend {
    height: 900px;
    width: 100%;
    padding: 10px;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
  }
  body .mainContainer .legend .legend__text .navbar {
    background-color: transparent;
    margin-bottom: 150px;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-brand {
    color: white;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav {
    background-color: #333;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 1px solid #fff;
  }
  body .mainContainer .legend .legend__text .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
    margin-top: 0;
    color: white;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 40px;
    width: 100%;
    color: white;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    font-size: 50px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px white;
  }
  body .mainContainer .legend .legend__text .search {
    width: 90%;
  }
  body .mainContainer .legend .legend__text .download {
    color: white;
  }
  body .mainContainer .legend .legend__image {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */