@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  color: #181818;
  font-weight: 400;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}

body .mainContainer {
  height: 1000px !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  /*Navigation menu section*/
  /*legend section*/
}

body .mainContainer .navbar {
  height: 70px;
  background-color: transparent;
  padding: 0;
  margin: 0 4%;
}

body .mainContainer .navbar .navbar-brand {
  color: #181818;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  text-shadow: 3px 3px 0 gray;
}

body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #181818;
  padding: 10px 0x;
  font-weight: 800;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #181818;
  transform: translateY(-5px);
}

body .mainContainer .legend {
  margin-top: 130px;
  height: 200px;
  color: #181818;
  /*legend introduction text*/
}

body .mainContainer .legend .legend__text {
  width: 100%;
  display: flex;
  justify-content: center;
}

body .mainContainer .legend .legend__text .introText {
  text-align: center;
  width: 35%;
}

body .mainContainer .legend .legend__text .introText .introText__heading {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
  font-weight: 700;
}

body .mainContainer .legend .legend__text .introText .introText__heading span {
  font-weight: 800;
}

body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #181818;
  font-weight: 800;
  padding: 10px 0;
  border-bottom: 2px solid #181818;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

body .mainContainer .searchSection {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/plane.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
}

body .mainContainer .searchSection .search__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .mainContainer .searchSection .search__wrapper .search {
  width: 40vw;
}

body .mainContainer .searchSection .search__wrapper .search input {
  border-radius: 8px 0 0 8px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  height: 60px;
}

body .mainContainer .searchSection .search__wrapper .search .search__button button {
  background-color: #fff;
  border-color: #fff;
  color: #181818;
  cursor: pointer;
  font-size: 20px;
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #181818;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

/*Responsiveness for screens*/
@media screen and (max-width: 1440px) {
  body .mainContainer .legend .legend__text .introText {
    width: 50%;
  }
}

@media screen and (max-width: 1350px) {
  body .mainContainer .legend .legend__text .introText {
    width: 55%;
  }
}

@media screen and (max-width: 1150px) {
  body .mainContainer .legend .legend__text .introText {
    width: 65%;
  }
  body .mainContainer .searchSection .search__wrapper .search {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  body .mainContainer .legend .legend__text .introText {
    width: 75%;
  }
  body .mainContainer .searchSection .search__wrapper .search {
    width: 70vw;
  }
}

@media screen and (max-width: 850px) {
  body .mainContainer .legend .legend__text .introText {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  body .mainContainer {
    padding: 0 2%;
    height: 1070px !important;
  }
  body .mainContainer .navbar {
    margin: 0 1% 200px 1%;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    background-color: #333;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #181818;
    transform: translateY(-5px);
  }
  body .mainContainer .legend {
    height: 200px;
    padding: 0 2%;
  }
  body .mainContainer .legend .legend__text {
    padding: 0;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 35px;
  }
  body .mainContainer .searchSection .search__wrapper .search {
    width: 80vw;
  }
}
/*# sourceMappingURL=style.css.map */