@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$background: #fff;
$primary: #181818;
$font: Lato;
$size: 16px;
$normal: 400;
$bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: transparent;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 1000px !important;
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        overflow: hidden;
        /*Navigation menu section*/
        .navbar{
            height: 70px;
            background-color: transparent;
            padding: 0;
            margin: 0 4%;
    
            .navbar-brand{
                color: $primary;
                font-weight: $bold;
                font-size: 24px;
                line-height: 29px;
                transition: all;
                transition-duration: 1s;

                &:hover, &:focus{
                    transform: scale(1.2);
                    text-shadow: 3px 3px 0 gray;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        margin: 0 10px;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0x;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 2px solid $primary;
                                transform: translateY(-5px);
                            }
                        }
                    }
                }
            }
            
        }
        /*legend section*/
        .legend{
            margin-top: 130px;
            height: 200px;
            color: $primary;
            /*legend introduction text*/
            .legend__text{
                width: 100%;
                display: flex;
                justify-content: center;
                .introText{
                    text-align: center;
                    width: 35%;
                    .introText__heading{
                        font-size: 40px;
                        line-height: 54px;
                        margin-bottom: 30px;
                        font-weight: 700;
                        span{
                            font-weight: $bold;
                        }
                    }
                    .introText__link{
                        a{
                            color: $primary;
                            font-weight: $bold;
                            padding: 10px 0;
                            border-bottom: 2px solid $primary;
                            transition: all;
                            transition-duration: 1s;

                            &:hover, &:focus{
                                text-decoration: none;
                                filter:blur(1px);
                            }
                        }
                    }
                }
            }
        }
        .searchSection{
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/plane.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 600px;

            .search__wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                .search{
                    width: 40vw;
                    input{
                        border-radius: 8px 0 0 8px;
                        border: 1px solid $background;
                        background: rgba(255, 255, 255, 0.2);
                        height: 60px;
                    }
                    .search__button{
                        button{
                            background-color: $background;
                            border-color: $background;
                            color: $primary;
                            cursor: pointer;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $primary;
        color: $background;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


/*Responsiveness for screens*/
@media screen and (max-width: 1440px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 50%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1350px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 55%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1150px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 65%;
                    }
                }
            }
            .searchSection{
                .search__wrapper{
                    .search{
                        width: 60vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 75%;
                    }
                }
            }
            .searchSection{
                .search__wrapper{
                    .search{
                        width: 70vw;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 850px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 85%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    body{
        .mainContainer{
            padding: 0 2%;
            height: 1070px !important;
            .navbar{
                margin: 0 1% 200px 1%;
                .navbar-collapse{
                    .navbar-nav{
                        background-color: #333;
                        .nav-item{
                            .nav-link{
                                &:hover, &:active, &:focus{
                                    border-bottom: 2px solid $primary;
                                    transform: translateY(-5px);
                                }
                            }
                        }
                    }

                }
            }
            .legend{
                height: 200px;
                padding: 0 2%;
                .legend__text{
                    padding: 0;
                    .introText{
                        width: 100%;
                        text-align: center;
                        .introText__heading{
                            font-size: 35px;
                        }
                    }
                }
            }
            .searchSection{
                .search__wrapper{
                    .search{
                        width: 80vw;
                    }
                }
            }
        }
    }
}