@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #111;
$neutral: #222;
$background: #ffffff;
$searches: #333;
$font: Lato;
$size: 16px;
$normal: 500;
$bold: 700;
$extra-bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;

    /*Navigation menu section*/
    .navbar{
        height: 100px;
        background-color: transparent;
        padding: 0 2%;
        margin-bottom: 35px;
        .navbar-brand{
            color: $primary;
            font-weight: $extra-bold;
            font-size: 24px;
            line-height: 29px;
            transition: all;
            transition-duration: 1s;

            &:hover, &:focus{
                transform: rotateY(180deg);
            }
        }

        .navbar-collapse{
            justify-content: flex-end;
            .navbar-nav{
                width: 70% !important;
                position: relative;
                .last{
                    position: absolute;
                    right: 0 !important;
                }
                .nav-item{
                    margin: 0 10px;
                    .nav-link{
                        color: $primary;
                        padding: 10px 0x;
                        font-weight: $bold;
                        transition: all;
                        transition-duration: 1s;

                        &:hover, &:active, &:focus{
                            border-bottom: 2px solid $primary;
                            transform: translateY(-5px);
                        }
                    }
                }
            }
        }
        
    }
    /*main container wrapper*/
    .mainContainer{
        height: 800px ;
        overflow: hidden;
        /*legend section*/
        .legend{
            height: 700px;
            color: $primary;
            /*legend introduction text*/
            .legend__text{
                width: 100%;
                padding-top: 80px;
                z-index: 1;
                .introText{
                    .introText__heading{
                        text-align: right;
                        font-size: 72px;
                        line-height: 86.4px;
                        margin-bottom: 100px;
                        font-weight: $bold;
                        z-index: 2;
                        margin-right: -8.5vw;
                        span{
                            background-color: $background;
                            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
                            margin-left: 10px;
                            padding: 0 20px 0 30px;
                        }
                    }
                    .introText__description{
                        color: $neutral;
                        margin-bottom: 50px;
                        width: 60%;
                    }
                    .introText__link{
                        a{
                            color: $primary;
                            font-weight: $bold;
                            padding: 10px 0;
                            border-bottom: 2px solid $primary;
                            transition: all;
                            transition-duration: 1s;

                            &:hover, &:focus{
                                text-decoration: none;
                                filter:blur(1px);
                            }
                        }
                    }
                }
            }
            .legend__image{
                content: " ";
                background-image: url(images/palyer.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index:-1;
            }
            .legend__search{
                display: flex;
                align-items: center;
                padding-left: 5%;
                .search{
                    .search__bar{
                        input{
                            border-radius: 4px 0 0 4px;
                            border: 1px solid $primary;
                        }
                        .search__button{
                            button{
                                color: white;
                                background-color: black;
                                border: 1px solid $primary;
                                border-radius: 0px 4px 4px 0px;
                            }
                        }
                        margin-bottom: 100px;
                    }
                    .search__results{
                        &:first-of-type{
                            margin-top: 30px;
                        }
                        a{
                            color: $primary;
                            text-decoration: underline;
                            font-size: 18px;
                            font-weight: $bold;

                            &:hover{
                                filter: drop-shadow(4px 4px 10px red) invert(75%);
                            }
                        }
                    }
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $primary;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


/*Responsiveness for screens*/
@media screen and (max-width: 1600px){
    body{
        .mainContainer{
            .navbar{
                .navbar-brand{
                margin-left: 6%;
                }
            }
        }
    }
}
@media screen and (max-width: 1350px){
    body{
        .mainContainer{
            .navbar{
                .navbar-brand{
                margin-left: 2%;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    body{
        .mainContainer{
            padding: 0 3%;
        }
    }
}
@media screen and (max-width: 1000px){
    body{
        .navbar{
            .navbar-collapse{
                .navbar-nav{
                    width: 95% !important;
                }
            }
        }
        .mainContainer{
            padding: 0 1%;
            .navbar{
                .navbar-nav{
                    .last{
                        position: relative !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .navbar{
            margin-bottom: 150px;
            .navbar-brand{
                margin-left: 0 !important;
            }
            .navbar-collapse{
                .navbar-nav{
                    width: 100% !important;
                    background-color: #333;
                    .last{
                        position: relative !important;
                    }
                    .nav-item{
                        .nav-link{
                            color: white;
                            &:hover, &:active, &:focus{
                                border-bottom: 2px solid $primary;
                                transform: translateY(-5px);
                            }
                        }
                    }
                }

            }
        }
        .mainContainer{
            padding: 0 4% !important;
            height: 1000px !important;
            .legend{
                height: 1000px;
                .legend__text{
                    height: 700px !important;
                    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/palyer.png);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    border-radius: 4px;
                    .introText{
                        color: white;
                        width: 100%;
                        text-align: center;
                        .introText__heading{
                            font-size: 32px;
                            text-align: center !important;
                            margin-right: 8.5vw !important;
                            width: 100%;
                            span{
                                color: $primary;
                            }
                        }
                        .introText__description{
                            color: white;
                            width: 100%;
                        }
                        .introText__link{
                            a{
                                background-color: white;
                                border: 1px solid white;
                                padding: 10px;
                                border-radius: 4px;

                                &:hover, &:focus{
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
                .legend__image{
                    display: none;
                }
                .legend__search{
                    padding: 0;
                    text-align: center;
                    .search{
                        width: 100%;
                    }
                }
            }
        }
    }
}