@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  color: #111;
  font-weight: 500;
  overflow-x: hidden;
  /*Navigation menu section*/
  /*main container wrapper*/
  /*footer section*/
}

body .navbar {
  height: 100px;
  background-color: transparent;
  padding: 0 2%;
  margin-bottom: 35px;
}

body .navbar .navbar-brand {
  color: #111;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  transition: all;
  transition-duration: 1s;
}

body .navbar .navbar-brand:hover, body .navbar .navbar-brand:focus {
  transform: rotateY(180deg);
}

body .navbar .navbar-collapse {
  justify-content: flex-end;
}

body .navbar .navbar-collapse .navbar-nav {
  width: 70% !important;
  position: relative;
}

body .navbar .navbar-collapse .navbar-nav .last {
  position: absolute;
  right: 0 !important;
}

body .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 10px;
}

body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #111;
  padding: 10px 0x;
  font-weight: 700;
  transition: all;
  transition-duration: 1s;
}

body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 2px solid #111;
  transform: translateY(-5px);
}

body .mainContainer {
  height: 800px;
  overflow: hidden;
  /*legend section*/
}

body .mainContainer .legend {
  height: 700px;
  color: #111;
  /*legend introduction text*/
}

body .mainContainer .legend .legend__text {
  width: 100%;
  padding-top: 80px;
  z-index: 1;
}

body .mainContainer .legend .legend__text .introText .introText__heading {
  text-align: right;
  font-size: 72px;
  line-height: 86.4px;
  margin-bottom: 100px;
  font-weight: 700;
  z-index: 2;
  margin-right: -8.5vw;
}

body .mainContainer .legend .legend__text .introText .introText__heading span {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding: 0 20px 0 30px;
}

body .mainContainer .legend .legend__text .introText .introText__description {
  color: #222;
  margin-bottom: 50px;
  width: 60%;
}

body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #111;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 2px solid #111;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

body .mainContainer .legend .legend__image {
  content: " ";
  background-image: url(images/palyer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

body .mainContainer .legend .legend__search {
  display: flex;
  align-items: center;
  padding-left: 5%;
}

body .mainContainer .legend .legend__search .search .search__bar {
  margin-bottom: 100px;
}

body .mainContainer .legend .legend__search .search .search__bar input {
  border-radius: 4px 0 0 4px;
  border: 1px solid #111;
}

body .mainContainer .legend .legend__search .search .search__bar .search__button button {
  color: white;
  background-color: black;
  border: 1px solid #111;
  border-radius: 0px 4px 4px 0px;
}

body .mainContainer .legend .legend__search .search .search__results:first-of-type {
  margin-top: 30px;
}

body .mainContainer .legend .legend__search .search .search__results a {
  color: #111;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}

body .mainContainer .legend .legend__search .search .search__results a:hover {
  filter: drop-shadow(4px 4px 10px red) invert(75%);
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #111;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

/*Responsiveness for screens*/
@media screen and (max-width: 1600px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 6%;
  }
}

@media screen and (max-width: 1350px) {
  body .mainContainer .navbar .navbar-brand {
    margin-left: 2%;
  }
}

@media screen and (max-width: 1200px) {
  body .mainContainer {
    padding: 0 3%;
  }
}

@media screen and (max-width: 1000px) {
  body .navbar .navbar-collapse .navbar-nav {
    width: 95% !important;
  }
  body .mainContainer {
    padding: 0 1%;
  }
  body .mainContainer .navbar .navbar-nav .last {
    position: relative !important;
  }
}

@media screen and (max-width: 767px) {
  body .navbar {
    margin-bottom: 150px;
  }
  body .navbar .navbar-brand {
    margin-left: 0 !important;
  }
  body .navbar .navbar-collapse .navbar-nav {
    width: 100% !important;
    background-color: #333;
  }
  body .navbar .navbar-collapse .navbar-nav .last {
    position: relative !important;
  }
  body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
  }
  body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
    border-bottom: 2px solid #111;
    transform: translateY(-5px);
  }
  body .mainContainer {
    padding: 0 4% !important;
    height: 1000px !important;
  }
  body .mainContainer .legend {
    height: 1000px;
  }
  body .mainContainer .legend .legend__text {
    height: 700px !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/palyer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 4px;
  }
  body .mainContainer .legend .legend__text .introText {
    color: white;
    width: 100%;
    text-align: center;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading {
    font-size: 32px;
    text-align: center !important;
    margin-right: 8.5vw !important;
    width: 100%;
  }
  body .mainContainer .legend .legend__text .introText .introText__heading span {
    color: #111;
  }
  body .mainContainer .legend .legend__text .introText .introText__description {
    color: white;
    width: 100%;
  }
  body .mainContainer .legend .legend__text .introText .introText__link a {
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
  }
  body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
    filter: invert(1);
  }
  body .mainContainer .legend .legend__image {
    display: none;
  }
  body .mainContainer .legend .legend__search {
    padding: 0;
    text-align: center;
  }
  body .mainContainer .legend .legend__search .search {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */