@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #111;
$secondary: #000;
$neutral: #333333;
$background: #eee;
$font: Lato;
$size: 16px;
$normal: 400;
$bold: 700;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 900px !important;
        overflow: hidden;
        padding: 0 8%;
        /*Navigation menu section*/
        .navbar{
            margin: auto;
            height: 70px;
            width: 100%;
            padding: 0 8%;
            background-color: $background;
            margin-bottom: 120px;
    
            .navbar-brand{
                color: $secondary;
                font-weight: $bold;
                font-size: 20px;
                line-height: 24px;
                transition: all;
                transition-duration: 1s;

                &:hover, &:focus{
                    transform: scale(1.2);
                    filter:invert(0.2);
                    -webkit-text-stroke: 1px $secondary;
                    -webkit-text-fill-color: transparent;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        margin-left: 4vw;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 1px solid $secondary;
                                filter: opacity(0.7);
                            }
                        }
                    }
                }
            }  
        }
        /*legend section*/
        .legend{
            height: 700px;
            width: 84%;
            margin: auto;
            display: flex;
            align-items: stretch;

            .legend__socials{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .socials__join{
                    .icons{
                        -webkit-text-stroke: 2px $primary;
                        -webkit-text-fill-color: transparent;
                        margin: 20px 0;
                        font-size: 20px;
                        i{
                            margin-right: 20px;
                        }
                    }
                }
            }
            /*legend introduction text*/
            .legend__text{
                .introText{
                    margin-top: 150px;
                    .introText__description{
                        color: $neutral;
                        margin-bottom: 40px;
                        line-height: 20px;
                        .bold{
                            font-weight: bold;
                            color: $primary;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                        }
                    }
                    .introText__link{
                        a{
                            color: $primary;
                            font-weight: $bold;
                            font-size: 18px;
                            padding: 8px 0;
                            border-bottom: 2px solid $secondary;
                            transition: all;
                            transition-duration: 1s;

                            &:hover, &:focus{
                                text-decoration: none;
                                filter: blur(1px);
                            }
                        }
                    }
                }
            }
            /*legend image section*/
            .legend__image{
                display: flex;
                flex-direction: column;
                .imageWrapper{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        margin-top: 50px;
        background-color: $secondary;
        color: $background;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 80%;
                    }
                }
                .legend__image{

                    .imagesWrapper{
                        .imagesWrapper__middle{
                            .leftLine{
                                transform: rotate(-55deg);
                                margin-top: 18%;
                                width: 30%;
                                margin-right: 40%;
                            }
                            .rightLine{
                                margin-top: 7.5%;
                                width: 22%;
                                margin-left: 70%;
                            }
                        }   
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1350px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 90%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    body{
        .mainContainer{ 
            .legend{
                .legend__text{
                    .introText{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            .legend{
                .legend__text{
                    .introText{
                        width: 100%;
                        .introText__heading{
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            height: 1200px !important;
            width: 90%;
            .navbar{
                width: 100%;
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                transition: all;
                                transition-duration: 1s;
        
                                &:hover, &:active, &:focus{
                                    border-bottom: 1px solid $secondary;
                                    filter: opacity(0.7);
                                }
                            }
                        }
                    }
                }
            }
            .legend{
                margin-top: 100px !important;
                justify-content: space-between;
                .legend__text{
                    padding: 0;
                    height: 300px !important;

                    .introText{
                        width: 100%;
                        text-align: center;
                        .introText__heading{
                            font-size: 32px;
                        }
                    }
                    .download{
                        text-align: center;
                    }
                }
                .legend__image{
                    margin-top: 200px;
                    height: 500px !important;
                    // background-size: 100% 100%;

                    .imagesWrapper{
                        .imagesWrapper__middle{
                            .leftLine{
                                transform: rotate(-55deg);
                                margin-top: 18%;
                                width: 29%;
                                margin-right: 48%;
                            }
                            .rightLine{
                                margin-top: 7.5%;
                                width: 21%;
                            }
                        }   
                    }
                }
            }
        }
        .footer{
            margin-top:300px;
        }
    }
}
@media screen and (max-width: 500px){
    body{
        .mainContainer{
            height: 1100px !important;
            .legend{
                justify-content: space-between;
                .legend__text{
                    padding: 0;
                    height: 300px !important;
                }
                .legend__image{
                    margin-top: 200px;
                    height: 400px !important;
                    .imagesWrapper{
                        .imagesWrapper__middle{

                            .leftLine{
                                transform: rotate(-68deg);
                                margin-top: 21%;
                                width: 37%;
                                margin-right: 40%;
                            }
                            .rightLine{
                                margin-top: 8%;
                                width: 27%;
                                margin-left: 60%;
                            }
                        }
                        .imagesWrapper__bottom{
                            .bottomLeft{
                                margin-top: 100px;
                            }
                        }
                    }

                }
            }
        }
        .footer{
            margin-top:100px;
        }
    }
}
@media screen and (max-width: 380px){
    body{
        .mainContainer{
            height: 1100px !important;
            .legend{
                justify-content: space-between;
                .legend__text{
                    padding: 0;
                    height: 300px !important;
                }
                .legend__image{
                    margin-top: 200px;
                    height: 400px !important;
                    .imagesWrapper{
                        .imagesWrapper__middle{

                            .leftLine{
                                transform: rotate(-68deg);
                                margin-top: 21%;
                                width: 37%;
                                margin-right: 40%;
                            }
                            .rightLine{
                                margin-top: 8%;
                                width: 27%;
                                margin-left: 60%;
                            }
                        }
                        .imagesWrapper__bottom{
                            .bottomLeft{
                                margin-top: 90px;
                            }
                        }
                    }

                }
            }
        }
        .footer{
            margin-top:100px;
        }
    }
}