@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Entire HTML body*/
body {
  width: 100%;
  background-color: #eee;
  font-family: Lato;
  font-size: 16px;
  color: #111;
  font-weight: 400;
  overflow-x: hidden;
  /*main container wrapper*/
  /*footer section*/
}

body .mainContainer {
  height: 900px !important;
  overflow: hidden;
  padding: 0 8%;
  /*Navigation menu section*/
  /*legend section*/
}

body .mainContainer .navbar {
  margin: auto;
  height: 70px;
  width: 100%;
  padding: 0 8%;
  background-color: #eee;
  margin-bottom: 120px;
}

body .mainContainer .navbar .navbar-brand {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-brand:hover, body .mainContainer .navbar .navbar-brand:focus {
  transform: scale(1.2);
  filter: invert(0.2);
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}

body .mainContainer .navbar .navbar-collapse {
  justify-content: flex-end;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 4vw;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #111;
  padding: 10px 0;
  font-weight: 700;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:active, body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  border-bottom: 1px solid #000;
  filter: opacity(0.7);
}

body .mainContainer .legend {
  height: 700px;
  padding: 0 8%;
  margin: auto;
  display: flex;
  align-items: stretch;
  /*legend social media section*/
  /*legend image section*/
  /*legend introduction text*/
}

body .mainContainer .legend .legend__socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body .mainContainer .legend .legend__socials .socials__join img {
  max-width: 100%;
  height: auto;
}

body .mainContainer .legend .legend__socials .socials__join .icons {
  margin: 20px 0;
}

body .mainContainer .legend .legend__socials .socials__join .icons .icons__link {
  -webkit-text-stroke: 2px #111;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin-right: 20px;
}

body .mainContainer .legend .legend__socials .socials__join .icons .icons__link:hover, body .mainContainer .legend .legend__socials .socials__join .icons .icons__link:focus {
  filter: invert(0.2);
}

body .mainContainer .legend .legend__image {
  padding: 0;
}

body .mainContainer .legend .legend__image img {
  max-width: 100%;
  height: auto;
}

body .mainContainer .legend .legend__text .introText {
  margin-top: 150px;
}

body .mainContainer .legend .legend__text .introText .introText__description {
  color: #333333;
  margin-bottom: 40px;
  line-height: 20px;
}

body .mainContainer .legend .legend__text .introText .introText__description .bold {
  font-weight: bold;
  color: #111;
  text-transform: capitalize;
  margin-bottom: 10px;
}

body .mainContainer .legend .legend__text .introText .introText__link a {
  color: #111;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 0;
  border-bottom: 2px solid #000;
  transition: all;
  transition-duration: 1s;
}

body .mainContainer .legend .legend__text .introText .introText__link a:hover, body .mainContainer .legend .legend__text .introText .introText__link a:focus {
  text-decoration: none;
  filter: blur(1px);
}

body .footer {
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0 !important;
  background-color: #000;
  color: #eee;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .footer .footer__text a {
  color: red;
}

body .footer .footer__text a:hover, body .footer .footer__text a:focus {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  body .mainContainer .navbar {
    padding: 0 5%;
  }
  body .mainContainer .legend {
    padding: 0 5%;
  }
  body .mainContainer .legend .legend__image {
    padding-top: 100px !important;
  }
}

@media screen and (max-width: 1000px) {
  body .mainContainer .legend .legend__image {
    padding-top: 150px !important;
  }
}

@media screen and (max-width: 767px) {
  body .mainContainer {
    height: 1250px !important;
    width: 100%;
  }
  body .mainContainer .navbar {
    width: 100%;
    padding: 0 2.5%;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav {
    background-color: #333333;
  }
  body .mainContainer .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #eee;
  }
  body .mainContainer .legend {
    justify-content: space-between;
    height: 1150px;
    padding: 0 2.5%;
  }
  body .mainContainer .legend .legend__text {
    order: -1;
    padding: 0;
    height: 300px !important;
  }
  body .mainContainer .legend .legend__text .introText {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  body .mainContainer .legend .legend__image {
    height: 500px !important;
    order: -2;
    padding-top: 0 !important;
    display: flex;
    justify-content: center;
  }
  body .mainContainer .legend .legend__socials {
    height: 250px;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  body .mainContainer .legend .legend__image {
    height: 300px !important;
  }
}
/*# sourceMappingURL=style.css.map */