@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #111;
$secondary: #000;
$neutral: #333333;
$background: #eee;
$font: Lato;
$size: 16px;
$normal: 400;
$bold: 700;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: $background;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 900px !important;
        overflow: hidden;
        padding: 0 8%;
        /*Navigation menu section*/
        .navbar{
            margin: auto;
            height: 70px;
            width: 100%;
            padding: 0 8%;
            background-color: $background;
            margin-bottom: 120px;
    
            .navbar-brand{
                color: $secondary;
                font-weight: $bold;
                font-size: 20px;
                line-height: 24px;
                transition: all;
                transition-duration: 1s;

                &:hover, &:focus{
                    transform: scale(1.2);
                    filter:invert(0.2);
                    -webkit-text-stroke: 1px $secondary;
                    -webkit-text-fill-color: transparent;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    .nav-item{
                        margin-left: 4vw;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 1px solid $secondary;
                                filter: opacity(0.7);
                            }
                        }
                    }
                }
            }  
        }
        /*legend section*/
        .legend{
            height: 700px;
            padding: 0 8%;
            margin: auto;
            display: flex;
            align-items: stretch;

            /*legend social media section*/
            .legend__socials{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .socials__join{
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    .icons{
                        margin: 20px 0;
                        .icons__link{
                            -webkit-text-stroke: 2px $primary;
                            -webkit-text-fill-color: transparent;
                            font-size: 20px;
                            margin-right: 20px;

                            &:hover, &:focus{
                                filter: invert(0.2);
                            }
                        }

                    }
                }
            }
            /*legend image section*/
            .legend__image{
                padding: 0;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            /*legend introduction text*/
            .legend__text{
                .introText{
                    margin-top: 150px;
                    .introText__description{
                        color: $neutral;
                        margin-bottom: 40px;
                        line-height: 20px;
                        .bold{
                            font-weight: bold;
                            color: $primary;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                        }
                    }
                    .introText__link{
                        a{
                            color: $primary;
                            font-weight: $bold;
                            font-size: 18px;
                            padding: 8px 0;
                            border-bottom: 2px solid $secondary;
                            transition: all;
                            transition-duration: 1s;

                            &:hover, &:focus{
                                text-decoration: none;
                                filter: blur(1px);
                            }
                        }
                    }
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $secondary;
        color: $background;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


@media screen and (max-width: 1200px){
    body{
        .mainContainer{ 
            .navbar{
                padding: 0 5%;
            }
            .legend{
                padding: 0 5%;
                .legend__image{
                    padding-top: 100px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            .legend{
                .legend__image{
                    padding-top: 150px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            height: 1250px !important;
            width: 100%;
            .navbar{
                width: 100%;
                padding: 0 2.5%;
                .navbar-collapse{
                    .navbar-nav{
                        background-color: $neutral;
                        .nav-item{
                            .nav-link{
                                color: $background;
                            }
                        }
                    }
                }
            }
            .legend{
                justify-content: space-between;
                height: 1150px;
                padding: 0 2.5%;
                .legend__text{
                    order: -1;
                    padding: 0;
                    height: 300px !important;
                    .introText{
                        width: 100%;
                        text-align: center;
                        margin-top: 0;
                    }
                }
                .legend__image{
                    height: 500px !important;
                    order: -2;
                    padding-top: 0 !important;
                    display: flex;
                    justify-content: center;
                }
                .legend__socials{
                    height: 250px;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (max-width:375px){
    body{
        .mainContainer{
            .legend{
                .legend__image{
                    height: 300px !important;
                }
            }
        }
    }
}