@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$primary: #fff;
$neutral: #EEEEEE;
$background: #000000;
$font: Lato;
$size: 16px;
$normal: 500;
$bold: 800;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Entire HTML body*/
body{
    width: 100%;
    background-color: transparent;
    font-family: $font;
    font-size: $size;
    color: $primary;
    font-weight: $normal;
    overflow-x: hidden;
    /*main container wrapper*/
    .mainContainer{
        height: 1000px !important;
        background-color: $background;
        padding: 0 2%;
        overflow: hidden;
        /*Navigation menu section*/
        .navbar{
            height: 100px;
            background-color: transparent;
            padding: 0;
            margin-bottom: 210px;
    
            .navbar-brand{
                color: $primary;
                font-weight: $bold;
                font-size: 24px;
                line-height: 29px;
                transition: all !important;
                transition-duration: 1s;
                position: absolute;
                margin-left: 45%;

                &:hover, &:focus{
                    transform: scale(1.2);
                    -webkit-text-stroke: 1px $primary;
                    -webkit-text-stroke-color: transparent;
                }
            }
    
            .navbar-collapse{
                justify-content: flex-end;
                .navbar-nav{
                    width: 100% !important;
                    position: relative;
                    .last{
                        position: absolute;
                        right: 0 !important;
                    }
                    .nav-item{
                        margin: 0 10px;
                        .nav-link{
                            color: $primary;
                            padding: 10px 0x;
                            font-weight: $bold;
                            transition: all;
                            transition-duration: 1s;
    
                            &:hover, &:active, &:focus{
                                border-bottom: 2px solid $primary;
                                transform: translateY(-5px);
                            }
                        }
                    }
                }
            }
            
        }
        /*legend section*/
        .legend{
            color: $primary;
            width: 635px;
            margin: 0 auto;
            /*legend introduction text*/
            .legend__text{
                
                .introText{
                    .introText__heading{
                        font-size: 72px;
                        line-height: 87px;
                        margin-bottom: 200px;
                        font-weight: $bold;
                        span{
                            float: right;
                        }
                    }
                    .introText__link{
                       text-align: center;
                        a{
                            font-size: 18px;
                            color: $primary;
                            font-weight: $bold;
                            padding: 10px 0;
                            border-bottom: 2px solid $primary;
                            transition: all;
                            transition-duration: 1s;

                            &:hover, &:focus{
                                text-decoration: none;
                                filter:blur(1px);
                            }
                        }
                    }
                }
            }
        }
    }
    /*footer section*/
    .footer{
        text-align: center;
        height: 50px;
        width: 100%;
        bottom: 0 !important;
        background-color: $background;
        color: $primary;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .footer__text{
            a{
                color: red;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}


/*Responsiveness for screens*/

@media screen and (max-width: 1000px){
    body{
        .mainContainer{
            .navbar{
                .navbar-brand{
                    margin-left: 50%;
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    body{
        .mainContainer{
            padding: 2%;
            height: 800px !important;
            .navbar{
                margin-bottom: 200px;
                .navbar-brand{
                    margin-left: 0 !important;
                    position: relative;
                }
                .navbar-collapse{
                    .navbar-nav{
                        width: 100% !important;
                        background-color: #333;
                        .last{
                            position: relative !important;
                        }
                        .nav-item{
                            .nav-link{
                                &:hover, &:active, &:focus{
                                    border-bottom: 2px solid $primary;
                                    transform: translateY(-5px);
                                }
                            }
                        }
                    }

                }
            }
            .legend{
                width: 590px;
                .legend__text{
                    padding: 0;
                    .introText{
                        width: 100%;
                        .introText__link{
                            text-align: center;
                        }
                        .introText__heading{
                            font-size: 70px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 619px){
    body{
        .mainContainer{
            .legend{
                width: 465px;
                .legend__text{
                    padding: 0;
                    .introText{
                        .introText__link{
                            text-align: center;
                        }
                        .introText__heading{
                            font-size: 55px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 494px){
    body{
        .mainContainer{
            .legend{
                width: 365px;
                .legend__text{
                    padding: 0;
                    .introText{
                        .introText__link{
                            text-align: center;
                        }
                        .introText__heading{
                            font-size: 43px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 380px){
    body{
        .mainContainer{
            .legend{
                width: 100%;
                .legend__text{
                    padding: 0;
                    .introText{
                        .introText__link{
                            text-align: center;
                        }
                        .introText__heading{
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
}